.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topbar ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

.topbar ul li {
    float: left;
    background-color: black;
    color: white;
    list-style-type: none;
    font-size: 14px;
    text-align: center;
    border: 1px solid white;
    height: 35px;
    width: 25%;
    box-sizing: border-box;
    padding-top: 8px;
}

.topbar ul li:hover {
    background-color: red;
}

a {
    color: white;
    text-decoration: none;
}



* {
    padding: 0;
    margin: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    overflow: hidden;
    list-style: none;
}

footer ul li {
    background-color: black;
    border: 1px solid white;
    width: 25%;
}

footer a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 10px;
}

footer a:hover {
    background-color: red;
}