table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 40%;
}

table, th, td {
    border-collapse: collapse;
    border-top: solid 1px #e99b56;
    border-bottom: solid 1px #e99b56;
    border-left:solid 1px #aeaeae;
    border-right: solid 1px #aeaeae;
}

tr:nth-child(2n) {
    background-color: #fae9db;
}

.timecard {
    text-align: center;
    background-color: #e99b56;
    height: 25px;
    color: white;
    font-weight: bold;
    letter-spacing: 8px;
    font-size: 18px;
    text-align: center;
}

td {
    width: 50px;
    height: 25px;
    text-align: right;
}

th {
    height: 40px;
}

.total td {
    background-color: #6b7784;
    color: white;
    font-weight: bold;
}

.day {
    text-align: left;
}