table {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px;
    border-collapse: collapse;
    padding: 5px;
}

th, td {
    border: solid 1px;
    padding: 5px 50px 5px 5px;
}

th {
    text-align: left;
}

.rowhigh tr:nth-child(3) {
    background-color: yellow;
}

.colhigh th:nth-child(3), .colhigh td:nth-child(3) {
    background-color: yellow;
}

.rowhigh tr:nth-child(odd) {
    font-style: italic;
}

.colhigh tr:nth-child(even):hover {
    background-color: yellow;
}

.colhigh tr:nth-child(3n) {
    color: blue;
}