/* Horizontalni meni */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.topbar ul {
    list-style: none;
    overflow: hidden;
}

.topbar ul li {
    background-color: black;
    width: 25%;
    float: left;
    border: 1px solid white;
    text-align: center;
}

.topbar a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.topbar a:hover {
    background-color: red;
}

div {
    position: relative;

}

/* Vertikalni meni */

* {
    padding: 0;
    margin: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    overflow: hidden;
    list-style: none;
}

footer ul li {
    background-color: black;
    border: 1px solid white;
    width: 25%;
}

footer a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 10px;
}

footer a:hover {
    background-color: red;
}

/* Stil za padajuci podmeni */

.submenu {
    display: none;
}

.topbar ul li:nth-child(4):hover .submenu {
    display: block;
}