p {
    border: 1px solid red;
}

.p1 {
    position: static;
}

.p2 {
    position: relative;
    left: 100px;
}

.p3 {
    position: absolute;
    bottom: 50px;
    left: 100px;
}

.p4 {
    position: fixed;
    top: 30px;
    right: 5px;
}