* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
}

/* For mobile */

@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }

    .row .col-4 {
        display: none;
    }

    #submit {
        float: right;
        background-color: #46a548;
        font-size: 14px;
        color: white;
        height: 35px;
        border-radius: 3px;
    }

}

/* For tablet */

@media only screen and (min-width: 601px) and (max-width: 999px) {
    [class*="col-"] {
        float: left;
    }

    .col-1 {
        width: 8.33%;
    }
    
    .col-2 {
        width: 16.66%;
    }
    
    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    #submit {
        float: right;
        background-color: #46a548;
        font-size: 14px;
        color: white;
        width: 100px;
        height: 35px;
        border-radius: 3px;
    }
}

/* For desktop */

@media only screen and (min-width: 1000px) {
    [class*="col-"] {
        float: left;
    }

    .col-1 {
        width: 8.33%;
    }
    
    .col-2 {
        width: 16.66%;
    }
    
    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    #submit {
        float: right;
        background-color: #46a548;
        font-size: 14px;
        color: white;
        width: 100px;
        height: 35px;
        border-radius: 3px;
    }

    form {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
    }
}

form {
    background-color: #f0f0f0;
    padding: 30px 20px;
    border-radius: 5px;
}

label, input, select {
    height: 40px;
    text-indent: 10px;
    margin-top: 5px;
}

textarea {
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 5px;
    resize: vertical;
}

.row .col-12 {
    margin-top: 1px;
    text-indent: 0;
}